<div class="row">
  <div class="col-6 col-md-4">
  </div>
  <div class="col-6 col-md-4">
    <h2>Register New User</h2>
    <br />
    {{#if errorMessage}}
      <div class="alert alert-danger">
        <strong>Error:</strong>
        {{errorMessage}}</div>
    {{/if}}
    {{#if successMessage}}
      <div class="alert alert-success">
        <strong>Success:</strong>
        {{successMessage}}</div><a
        class="btn btn-success pull-right"
        href="/login"
      >&nbsp;&nbsp;&nbsp;Proceed to Log in&nbsp;&nbsp;&nbsp;</a><br /><br /><br
      />
    {{else}}
      <form method="post" action="/register">
        <fieldset>
          <legend>Register</legend>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="username">User Name</label>
                <input
                  class="form-control"
                  id="userName"
                  name="userName"
                  type="text"
                  required
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  class="form-control"
                  id="password"
                  name="password"
                  type="password"
                  required
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="password">Confirm Password</label>
                <input
                  class="form-control"
                  id="password2"
                  name="password2"
                  type="password"
                  required
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="password">Email</label>
                <input
                  class="form-control"
                  id="email"
                  name="email"
                  type="email"
                  required
                />
              </div>
            </div>
          </div>
        </fieldset>
        <hr />
        <input
          type="submit"
          class="btn btn-primary pull-right"
          value="Register"
        /><br /><br /><br />
      </form>
    {{/if}}
  </div>
</div>