body {
  background-color: #00171f;
  color: #f7f7ff;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  background-color: #f7f7ff;
  border-color: #00171f;
  font-size: 15px;
}

.buttons{
  background-color: #00171f;
  color: #f7f7ff;
  border: 0px;
}

.buttons:hover{
  color: #00171f;
  background-color: #f7f7ff;
border: 0px;
}